@media screen and (max-width: 1364px) {
    .book-online button {
        font-size: 1.05rem;
    }

    .welcome-info,
    .restaurant-info {
        height: 85%;
        right: -9rem;
    }

    .welcome-info h1,
    .restaurant-info h4,
    .restaurant-info h1,
    .spa-info h4,
    .spa-info h1 {
        margin: 1rem 0;
    }

    .welcome-info p,
    .restaurant-info p,
    .spa-info p {
        margin: 0.8rem;
        font-size: 1rem;
    }

    .info-text h1 {
        margin: 0.5rem 0;
    }

    .info-text p {
        font-size: 1rem;
    }

    .rooms-title {
        bottom: -5.7rem;
        height: 30%;
        min-width: 12rem;
    }

    .restaurant-info {
        width: 42%;
        left: -9rem;
    }

    .spa-info {
        width: 42%;
        height: 450px;
    }

    .spa-info h1 {
        margin-top: 0;
    }

    .spa-info p {
        margin: 0.5rem 1.5rem;
    }

    footer .address p,
    footer .newsletter p,
    .newsletter input {
        font-size: 0.98rem;
    }

    .newsletter h2,
    .media h2,
    .thank-you h3 {
        font-size: 1.3rem;
        line-height: 1.1;
    }

    footer .social-icons {
        width: 25%;
    }

    .social-icons .faceb{
        transform: translateY(-0.5px);
    }
}

@media screen and (max-width: 1024px) {
    nav .header-links {
        font-size: 1.1rem;
    }

    .offers {
        min-width: 39vw;
    }

    .offers-btns button {
        width: 10%;
    }

    .welcome-info,
    .restaurant-info {
        width: 47%;
        height: 87%;
        right: -7rem;
    }

    .rooms-img-container {
        width: 95%;
    }

    .restaurant-info {
        left: -7rem;
    }

    .restaurant-info h1,
    .spa-info h1 {
        margin-bottom: 0.3rem;
    }

    .spa-info {
        width: 50%;
        height: 440px;
    }

    .spa-info p {
        margin: 0.5rem 1rem;
    }

    footer .newsletter {
        width: 31%;
    }

    footer .address p,
    footer .newsletter p,
    .newsletter input {
        font-size: 1rem;
    }

    .newsletter .envelop {
        width: 2.5rem;
    }
}

@media screen and (max-width: 900px) {
    .logo img {
        margin-left: 0.2rem;
        width: 7rem;
        height: 4.5rem;
    }

    nav .header-links,
    .social {
        display: none;
    }

    .logo,
    .book-online,
    .menu {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        justify-content: start;
        margin-left: 1rem;
    }

    .menu {
        flex-direction: row;
        font-size: 1.2rem;
        justify-content: flex-end;
    }

    .menu p {
        margin: 0 0.5rem;
    }

    .menu div {
        width: 30%;
        height: 100%;
        display: grid;
        place-content: center;
    }

    .menu .fas {
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
        transform: translateY(2px);
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }

    .menu .fas:active {
        transform: scale(0.7) translateY(2px);
    }

    .book-online {
        height: 100%;
        width: 40%;
        border-radius: 0.15rem;
        display: grid !important;
    }

    .book-online button {
        font-size: 1.2rem;
        color: #9a8143;
    }

    .hero-container,
    #spa {
        background-attachment: scroll;
    }

    .fa-long-arrow-alt-left:hover,
    .fa-long-arrow-alt-right:hover {
        color: #0b1d62;
    }

    .rooms-title button:hover {
        color: #fff;
    }

    .offers-container {
        width: 95vw;
    }

    .offers {
        min-width: 43.5vw;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2.5px 8.5px 0px;
    }

    .offers:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2.5px 8.5px 0px;
    }

    .offer-title {
        height: 25%;
        bottom: 0;
        justify-content: start;
    }

    .offer-title h1 {
        font-size: 1.3rem;
        margin: 0 1rem;
    }

    .offer-details p {
        margin: 0 0 0 1rem;
    }

    .offer-title :nth-child(3),
    .offer-title :nth-child(4) {
        display: none;
    }

    #welcome,
    #restaurant {
        height: 120vh;
        overflow-x: hidden;
        display: flex;
        align-items: start;
    }

    .welcome-img,
    .restaurant-img {
        width: 96.5%;
        height: 50%;
        margin-top: 2rem;
    }

    .welcome-img-container,
    .restaurant-img-container {
        width: 100%;
        height: 100%;
    }

    .welcome-img-container img {
        object-position: 100% 80%;
    }

    .welcome-info,
    .restaurant-info {
        bottom: -85%;
        width: 93.5%;
        height: 280px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.5rem 1.5rem 1.5rem;
        background-color: rgba(238, 236, 236, 0.568);
        font-size: 1rem;
        border-radius: 0.15rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .welcome-info h1,
    .restaurant-info h1 {
        margin: 0.2rem 0;
    }

    .welcome-info::before,
    .restaurant-info:before {
        content: none;
    }

    #rooms {
        height: 120vh;
    }

    .rooms-img {
        border-radius: 0.15rem;
    }

    .rooms-img img {
        border-radius: 0.15rem;
        box-shadow: none;
    }

    .rooms-info {
        margin-top: 2rem;
    }

    .rooms-info .info-text {
        width: 90%;
    }

    .info-text p {
        font-size: 1rem;
        margin: 0 0.5rem;
    }

    .rooms-img-container {
        width: 96%;
        height: 60%;
        overflow: visible;
        margin-bottom: 2rem;
        border-radius: 0.15rem;
    }

    .rooms-img:hover .rooms-title {
        border-top-right-radius: 0;
        box-shadow: none;
    }

    .rooms-title {
        bottom: 0;
        width: 60%;
        height: 20%;
        flex-wrap: wrap;
        border-top-right-radius: 0.15rem;
        border-bottom-left-radius: 0.15rem;
        background-color: rgba(255, 255, 255, 0.644);
    }

    .rooms-title h1 {
        margin: 0.6rem 0 0 1rem;
    }

    .rooms-properties {
        margin-top: 0.7rem;
        width: 12rem;
        justify-content: space-around;
    }

    .rooms-btns {
        width: 100%;
        left: 0;
        bottom: 50%;
        justify-content: space-between;
    }

    .rooms-btns button {
        border-radius: 0;
        width: 8%;
        background-color: rgba(255, 255, 255, 0.568);
    }

    .rooms-btns button:first-child {
        border-top-right-radius: 0.15rem;
        border-bottom-right-radius: 0.15rem;
    }

    .rooms-btns button:last-child {
        border-top-left-radius: 0.15rem;
        border-bottom-left-radius: 0.15rem;
        border-top-right-radius: 0;
    }

    .restaurant-info h4 {
        margin: 0.5rem;
    }

    .spa-info {
        width: 58%;
        height: 435px;
        font-size: 1rem;
    }

    footer {
        height: 30vh;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .address,
    footer .newsletter,
    footer .media {
        width: 40%;
    }

    footer .address {
        order: 1;
        font-size: 1rem;
    }

    footer .newsletter {
        order: 3;
        justify-content: space-around;
        margin-top: 1rem;
        border-top: 2px solid #9a814346;
    }

    footer .newsletter h2 {
        font-size: 1.4rem;
    }

    footer .media {
        order: 2;
    }

    footer .address img {
        width: 40%;
    }

    footer .address p,
    .newsletter input {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    #special-offers {
        height: 70vh;
    }

    .offers-container {
        width: 97vw;
    }

    .offers {
        height: 80%;
    }

    .offer-title {
        height: 24%;
    }

    .offer-details :last-child {
        display: none;
    }

    #welcome {
        height: 125vh;
    }

    .welcome-img,
    .restaurant-img {
        width: 95%;
        height: 35%;
        margin-top: 5rem;
    }

    .welcome-info,
    .restaurant-info {
        bottom: -138%;
        width: 90%;
        height: 340px;
    }

    .welcome-info p,
    .restaurant-info p {
        margin: 0.8rem 0.2rem;
    }

    .welcome-info h1,
    .restaurant-info h1 {
        margin: 0.5rem 0;
    }

    .rooms-title {
        width: 75%;
    }

    #restaurant {
        height: 125vh;
    }

    .restaurant-info {
        bottom: -135%;
        height: 330px;
    }

    .spa-info {
        width: 70%;
        height: 440px;
    }

    .spa-info p {
        font-size: 1rem;
    }

    footer .address {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        margin-left: 0.5rem;
    }

    .book-online {
        width: 30%;
    }

    .book-online button {
        font-size: 1.1rem;
    }

    .menu {
        width: 30%;
    }

    .offers-container {
        width: 95vw;
    }

    .offers {
        min-width: 88vw;
    }

    .offer-title {
        height: 25%;
    }

    .offers-btns button {
        width: 20%;
    }

    #welcome {
        height: 125vh;
    }

    .welcome-img,
    .restaurant-img {
        width: 93.5%;
        height: 35%;
    }

    .welcome-info,
    .restaurant-info {
        bottom: -145%;
        width: 88%;
        height: 360px;
    }

    .welcome-info p,
    .restaurant-info p,
    .info-text p,
    .spa-info p {
        font-size: 0.96rem;
    }

    .rooms-img-container {
        width: 94%;
        height: 50%;
    }

    .rooms-title {
        width: 100%;
    }

    .rooms-btns button {
        width: 12%;
    }

    #restaurant {
        height: 130vh;
    }

    .restaurant-info {
        bottom: -142%;
        height: 370px;
    }

    .spa-info {
        width: 75%;
        height: 465px;
    }

    .spa-info h4 {
        margin-top: 1rem;
    }

    footer .address {
        width: 55%;
    }

    footer .media {
        width: 30%;
    }

    .media .social-icons {
        width: 50%;
    }

    footer .newsletter {
        width: 55%;
    }

      .thank-you p {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        margin-left: 0;
    }

    .book-online button {
        font-size: 1rem;
    }

    .menu p,
    .menu .fas {
        font-size: 1.1rem;
    }

    .menu .fas {
        transform: translateY(3px);
    }

    .hero-container {
        background-position: bottom;
        height: 90vh;
    }

    .slogan p {
        font-size: 4rem;
    }

    #special-offers {
        height: 70vh;
    }

    .offers {
        height: 85%;
    }

    #welcome {
        height: 115vh;
    }

    .welcome-img,
    .restaurant-img {
        width: 92.5%;
        height: 30%;
        margin-top: 4rem;
    }

    .welcome-info,
    .restaurant-info {
        bottom: -185%;
        width: 88%;
        height: 370px;
    }

    #rooms {
        height: 110vh;
    }

    .rooms-info {
        margin-top: 1rem;
    }

    .rooms-btns {
        height: 12%;
    }

    .rooms-btns button {
        width: 14%;
    }

    .rooms-title h1 {
        font-size: 1.3rem;
    }

    .rooms-properties {
        justify-content: space-between;
        width: 11rem;
    }

    #restaurant {
        height: 115vh;
    }

    .restaurant-info {
        bottom: -187%;
        height: 380px;
    }

    .info-text h1,
    .restaurant-info h1,
    .spa-info h1 {
        font-size: 1.35rem;
    }

    .spa-info {
        height: 75%;
        width: 85%;
    }

    footer {
        height: 100vh;
        align-items: center;
    }

    footer .address,
    footer .newsletter,
    footer .media {
        width: 100%;
        height: 30%;
        align-items: center;
        margin-top: 2rem;
    }

    footer .newsletter {
        width: 70%;
    }

    footer .address {
        order: 1;
    }

    footer .newsletter {
        order: 2;
    }

    footer .media {
        order: 3;
        height: 10%;
    }

    footer .media h2,
    footer .media .social-icons {
        display: none;
    }

    .media .author {
        width: 48%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 430px) {
    .logo img {
        width: 6rem;
        height: 4rem;
    }

    .book-online {
        width: 40%;
    }

    .menu {
        justify-content: center;
    }

    .menu p {
        display: none;
    }

    .hero-container {
        height: 95vh;
    }

    #special-offers {
        height: 95vh;
    }

    #welcome {
        height: 120vh;
    }

    .welcome-img,
    .restaurant-img {
        width: 92%;
        height: 28%;
        margin-top: 2rem;
    }

    .welcome-info,
    .restaurant-info {
        bottom: -230%;
        width: 85%;
        height: 460px;
    }

    #rooms {
        height: 100vh;
    }

    .rooms-info {
        height: 32%;
        margin-top: 0;
    }

    .rooms-info .info-text {
        width: 93%;
        height: 92%;
    }

    .rooms-info .info-text p {
        font-size: 0.9rem;
    }

    .rooms-img-container {
        width: 93%;
        height: 50%;
    }

    .rooms-title h1 {
        font-size: 1.3rem;
    }

    .rooms-properties {
        margin-top: 0;
        margin-right: 1rem;
        width: 10rem;
    }

    .rooms-title button {
        width: 7rem;
        margin-left: 1.5rem;
    }

    #restaurant {
        height: 115vh;
    }

    .restaurant-img {
        margin-top: 2rem;
    }

    .restaurant-info {
        bottom: -230%;
        height: 440px;
    }

    .spa-info {
        height: 80%;
    }

    .spa-info h1,
    .spa-info h4 {
        margin-bottom: 0.5rem;
    }

    .spa-info p {
        font-size: 0.9rem;
    }

    footer {
        height: 80vh;
    }

    footer .address,
    footer .newsletter {
        height: 40%;
    }

    .media .author {
        width: 60%;
    }
}

@media screen and (max-width: 360px) {
    .book-online {
        width: 35%;
    }

    .hero-container {
        height: 100vh;
    }

    #special-offers {
        height: 100vh;
    }

    .offers-container {
        width: 98vw;
        height: 75%;
    }

    .offers {
        height: 70%;
    }

    .offer-title {
        height: 24%;
    }

    #welcome {
        height: 124vh;
    }

    .info-text h1,
    .rooms-title h1 {
        font-size: 1.1rem;
    }

    .rooms-title button {
        margin-left: 1rem;
    }

    .rooms-properties {
        width: 8rem;
    }

    #restaurant {
        height: 122vh;
    }

    .restaurant-info {
        bottom: -225%;
    }

    #spa {
        height: 100vh;
        background-position: 65% 80%;
    }

    .spa-info {
        width: 82%;
        height: 500px;
    }

    .restaurant-info h1 {
        font-size: 1.1rem;
    }

    .spa-info h1 {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    footer .address img {
        margin: 0;
    }

    footer .newsletter {
        width: 80%;
    }

    footer .newsletter h2 {
        font-size: 1.3rem;
    }

    .media .author {
        width: 59%;
    }

  
}

@media screen and (max-width: 350px) {

    .logo img{
        width: 5rem;
        height: 3.5rem;
    }

    .menu{
        height: 100%;
    }
    .book-online{
        width: 35%;
    }

    .book-online button{
        font-size: 0.95rem;
    }
   
    #welcome {
        height: 135vh;
    }
    
    .welcome-img,
    .restaurant-img {
        height: 23%;
    }

    .welcome-info,
    .restaurant-info {
        bottom: -300%;
        height: 500px;
        width: 100%;
        padding: 0;
    }
    
    .welcome-info p,
    .restaurant-info p {
        margin: 0.8rem 1rem;
    }

    .rooms-img-container {
        width: 93%;
        height: 45%;
    }

    .rooms-title h1 {
    margin: 0.3rem 0 0 1rem;
}

 .rooms-properties p {
    font-size: 0.9rem;
 }
    
    #restaurant {
        height: 123vh;
    }

    .restaurant-info {

        height: 460px;
    }

    .spa-info {
        height: 540px;
    }

    .media .author {
        width: 66%;
    }
}